{% if is_granted('ROLE_SPORT_ADMIN') %}
    <div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
        <div class="col-auto">
            <a href="{{ path('sport_inscription_selection',{'uuid':person.uuid}) }}" class="btn btn-primary"
               role='button'>
                <i class="fas fa-plus"></i> Gérer les inscriptions
            </a>
            <a href="{{ path('sport_admin_person_edit',{'uuid':person.uuid}) }}" class="btn btn-primary" role='button'>
                <i class="fas fa-edit"></i> Modifier
            </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fas fa-trash"></i> Supprimer
            </button>
        </div>
    </div>
{% endif %}
