{% extends '@AcMarcheSport/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>{{ person }}</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheSport/person/_actions.html.twig' %}
            <br/>
            <p>{{ person.email }}</p>
            <br/>
            <h3 class="text-success">Inscriptions</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Activité</th>
                    <th>Préférence</th>
                </tr>
                {% for inscription in inscriptions %}
                    <tr>
                        <td>{{ inscription.activity.name }}</td>
                        <td>{{ inscription.preferenceNumber }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include '@AcMarcheSport/person/_delete.html.twig' %}
    </div>
{% endblock %}
